<div id="panedisco" class="container"  style="display: none" >

 <div class="clientinfo" style="display: none" >
  <div class="pure-g">
   <div class="clientcontainer pure-u-1-2" style=" ">

    <h1 class="hidden-xs">{{_.selectprovider}}</h1>
    <div class="media">
     <div class="media-left media-middle clientlogo" style="padding-top:0px"></div>
     <div class="media-body" style="padding-top: 12px">
      <p>{{_.tologin|raw}}</p>
     </div>
    </div>

   </div>
   <div class="col-md-4 visible-md-block visible-lg-block" style="">
    REMEMBEr MEEEE!!
   </div>
  </div>
 </div>




 <div class="pure-g">


  <div class="pure-u-1 pure-u-md-1-2 orgchoices" >

   <p>{{_.eduproviders}}</p>

   <div class="list-group-item hidden-xs">

    {# Form for choosing country and searching for providers #}
    <form id="schoolsearchform">
     <select id="countryselector"></select>
     <div id="usersearchwrapper">
      <input id="usersearch" type="text" placeholder="{{_.searchfor}}" />
     </div>
    </form>

    <small style='display: none'>
     <i class="fa fa-map-marker"></i> <span id="locationtitle"></span>

     <a id="updatelocation" style="color: #533; margin-left: 1.4em" href="#">
      <i class="fa fa-dot-circle-o"></i> {{_.updatelocation}}</a>
     <a id="removelocation" style="color: #755; margin-left: 1.4em; display: none" href="#">
      <i class="fa fa-times"></i> {{_.forget}}</a>
     <a id="why" style="color: #755; margin-left: 1.4em" data-toggle="tooltip" data-placement="top" title="{{_.whatmore}}">
      <i class="fa fa-question"></i> {{_.what}}</a>
    </small>

   </div>

   {# List of identity providers #}
   <div id="idplist" class="list-group idplist">
   </div>

  </div><!-- column -->


  {# Alternative choices #}
  <div class="pure-u-1 pure-u-md-1-2 altchoices" style=" ">

   {# <p>{{_.alternatechoice}}</p> #}
   <p>Alternative login providers</p>

   <div class="list-group idplist" id="idplistextra">
   </div>
  </div><!-- column -->

 </div><!-- row -->


 <div>
  <label>
   {{_.rememberme}}
   <input id="rememberme" type="checkbox" checked="checked">
  </label>
 </div>

</div><!-- container -->
