{# -*- mode: web; web-mode-markup-indent-offset: 2 -*- #}
{% for requestor, permlist in perms.views %}

  {% if attribute(perms.requestorInfo, requestor).userid %}
    <div class="media with-logo">
      <div class="media-left">
        <img src="{{apibase}}/userinfo/v1/user/media/{{ attribute(perms.requestorInfo, requestor).profilephoto }}" />
      </div>
      <div class="media-body media-middle">
        <h1>
          {{ attribute(perms.requestorInfo, requestor).name }}
        </h1>
      </div>
    </div>
  {% endif %}

  {% if attribute(perms.requestorInfo, requestor).id %}
    <div class="media with-logo">
      <div class="media-left">
        <img src="{{ attribute(perms.requestorInfo, requestor).logoURL }}" />
      </div>
      <div class="media-body media-middle">
        <h1>
          {{ attribute(perms.requestorInfo, requestor).name.nb }}
        </h1>
      </div>
    </div>
  {% endif %}

  {% for perm in permlist %}
    <div class="list-group-item">
      <p>
        {% if perm.icon %}
          <span style="color: #565" class="fa fa-fw fa-{{ perm.icon }}"></span>
        {% endif %}
        {{ perm.title }}
      </p>

      {% if perm.descr %}
        <small>{{ perm.descr }}</small>
      {% endif %}

      {% if perm.expandable %}
        <div class="hide">
          <ul class="grant-item-list">
            {% for item in perm.items %}
              <li>
                {% if item.icon %}
                  <span class="fa fa-fw fa-{{ item.icon }}"></span>
                {% endif %}
                {{ item.title }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

    </div>

  {% endfor %}
{% endfor %}
