{# -*- mode: web; web-mode-markup-indent-offset: 2 -*- #}
<div>

  <div class="grantEntryContent">
    <h3>{{client.name}}</h3>
    <div id="service-details" class="hide">

      <span class="small">{{_.provby}} {{ownerDisplay}}</span>

      {% include 'partials/contractsummary.twig' %}

      <div class="client-description">
        {% if client.descr %}
          <p>{{ client.descr }}</p>
        {% endif %}

        {% if not client.isSecure %}
          <p>
            <span class="label label-danger">
              <i class="fa fa-warning"></i>
              {{_.insecurewarning}}
            </span>
          </p>
        {% endif %}
      </div>

    </div>
  </div>


  <div class="contract-details">

    {% include 'partials/contractdetails.twig' %}

    <div>

      <ul>
        {% if client.privacypolicyurl %}
          <li>
            <a target="_blank" href="{{ client.privacypolicyurl }}">
              {{_.applicationprivacy}}
            </a>
          </li>
        {% endif %}

        {% if client.supporturl %}
          <li>
            <a target="_blank" href="{{ client.supporturl }}">
              {{_.applicationsupport}}
            </a>
          </li>
        {% endif %}

        {% if client.homepageurl %}
          <li>
            <a target="_blank" href="{{ client.homepageurl }}">
              {{_.applicationhomepage}}
            </a>
          </li>
        {% endif %}
      </ul>

      <div id="app-provided-by">
        {{_.appprovidedby}}:

        {% if ownerOrg %}

          <div class="media">
            <div class="media-left media-middle">
              <img src="{{org.logoURL}}" style="max-height: 32px">
            </div>
            <div class="media-body">
              <h3>{{org.name.nb}}</h3>
              <code>{{client.host}}</code>
            </div>
          </div>

        {% elseif owner %}

          <div class="media">
            <div class="media-left media-middle">
              <img src="/user/media/{{owner.profilephoto}}" style="max-height: 32px">
            </div>
            <div class="media-body">
              <h3>{{owner.name}}</h3>
              <a href="mailto:{{owner.mail}}">{{owner.email}}</a>
              <code>{{client.host}}</code>
            </div>
          </div>

        {% endif %}
      </div>

    </div>

  </div>
