{# -*- mode: web; web-mode-markup-indent-offset: 2 -*- #}

<div id="container-service-description">

  <h3>{{client.name}}</h3>

  {% if client.descr %}
    <p>{{ client.descr }}</p>
  {% endif %}

  {% if not client.isSecure %}
    <p>
      <i class="fa fa-warning"></i>
      {{_.insecurewarning}}
    </p>
  {% endif %}


  {# Button for toggling the extra information #}
  <button class="pure-button pure-button-xsmall more-information">More information</button>


  {# All the extra information #}
  <div id="container-service-details" style="display: none">


    {# Contract details #}
    {% if user.isFeideUser %}
      <div id="container-contract-details">
        <h4>Contract</h4>
        <p>
          {% if needsAuthorization %}

            {% if validated %}
              {{_.validated10}}
            {% else %}
              <i class="fa fa-warning">&nbsp;</i>{{_.notvalidated10}}
            {% endif %}

          {% else %}
            {{_.needsauthz10}}
          {% endif %}
        </p>
      </div>
    {% endif %}


    {# 'App provided by' information #}
    {% if ownerOrg or owner %}
      <div id="app-provided-by">
        <h4>{{_.appprovidedby}}</h4>

        {% if ownerOrg %}

          <div class="media">
            <div class="media-left media-middle">
              <img src="{{org.logoURL}}" style="max-height: 32px">
            </div>
            <div class="media-body">
              <h3>{{org.name.nb}}</h3>
              <p>URL: <a href="{{client.host}}" target="_blank">{{client.host}}</a></p>
            </div>
          </div>

        {% elseif owner %}

          <div class="media">
            <div class="media-left media-middle">
              <img src="/user/media/{{owner.profilephoto}}" style="max-height: 64px">
            </div>
            <div class="media-body">
              <h3>{{owner.name}}</h3>
              <p>Email: <a href="mailto:{{owner.mail}}">{{owner.email}}</a></p>
              <p>URL: <a href="{{client.host}}" target="_blank">{{client.host}}</a></p>
            </div>
          </div>

        {% endif %}
      </div>
    {% endif %}


    {# Urls to client pages with more info #}
    {% if client.privacypolicyurl or client.supporturl or client.homepageurl %}
      <h4>More information</h4>

      <ul class="service-url-list">
        {% if client.privacypolicyurl %}
          <li>
            <a target="_blank" href="{{ client.privacypolicyurl }}">
              {{_.applicationprivacy}}
            </a>
          </li>
        {% endif %}

        {% if client.supporturl %}
          <li>
            <a target="_blank" href="{{ client.supporturl }}">
              {{_.applicationsupport}}
            </a>
          </li>
        {% endif %}

        {% if client.homepageurl %}
          <li>
            <a target="_blank" href="{{ client.homepageurl }}">
              {{_.applicationhomepage}}
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}


  </div>

</div>
