{% set pagetitle = "selectprovider" %}
{% extends "base.twig" %}

{% block scripts %}
 <script>
  var require = {
  "paths": {
  "jquery": "../components/jquery/dist/jquery.min",
  "selectize": "../components/selectize/dist/js/standalone/selectize",
  },
  "shim": {
  "selectize": ["jquery"]
  },
  "urlArgs": "bust={{cacheBust}}"
  };
 </script>

 <script>
  var acrequest = {{requestJSON|raw}};
  window.activeAccounts = {{activeAccountsJSON|raw}};
  window.loc = {{locationJSON|raw}};
  window.config = {{configuration|raw}};
  window.dictionary = {{dictionary|raw}};
  window.client = {{client|raw}};
 </script>

 <script data-main="static/accountchooser/main" src="/static/components/requirejs/require.js"></script>

{% endblock scripts %}



{% block content %}

  <div class="pure-g">
   <div class="pure-u-1">

    <div class="main box">
     {% include 'partials/accounts.twig' %}
     {% include 'partials/disco.twig' %}
    </div>
   </div>

  </div>
{% endblock %}
