{# -*- mode: web; web-mode-markup-indent-offset: 2 -*-  -->  #}
{% set pagetitle = "selectprovider" %}
{% extends "base.twig" %}

{% block prescripts %}

    <em class="hide" id="app-data"
        data-acrequest='{{ requestJSON|raw }}'
        data-accounts='{{ activeAccountsJSON|raw }}'
        data-loc='{{ locationJSON|raw }}'
        data-config='{{ configuration|raw }}'
        data-dictionary='{{ dictionary|raw }}'
        data-client='{{ client|raw }}'></em>
{% endblock prescripts %}

{% block content %}

    <div class="main box">
      <div class="pure-g">
        <div class="pure-u-1">
          {%- include 'partials/accounts.twig' %}
          {%- include 'partials/disco.twig' %}

        </div>
      </div>
    </div>
{% endblock %}
