{# -*- mode: web; web-mode-markup-indent-offset: 2 -*-  -->  #}
{% extends "base.twig" %}
{% block upper %}{% include "partials/service.twig" %}{% endblock %}

{% block prescripts %}

    <em class="hide" id="app-data"
        data-acrequest='{{ requestJSON|raw }}'
        data-accounts='{{ activeAccountsJSON|raw }}'
        data-loc='{{ locationJSON|raw }}'
        data-config='{{ configuration|raw }}'
        data-dictionary='{{ dictionary|raw }}'
        data-client='{{ client|raw }}'></em>
{% endblock prescripts %}
{% block scripts %}
    {%- if isDevelopment %}

    <script src="/static/accountchooser.bundle.js#{{ cacheBust }}"></script>
    {%- else %}

    <script src="/static/{{ assets.accountchooser.js }}"></script>
    {%- endif %}
{% endblock scripts %}

{% block content %}

    <div class="main box">
      <div class="pure-g">
        <div class="pure-u-1">
          {%- include 'partials/accounts.twig' %}
          {%- include 'partials/disco.twig' %}

        </div>
      </div>
    </div>
{% endblock %}
