<!doctype html>
<html lang="{{ currentLanguage }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">

        <title>{{ pagetitle|trans }}</title>

        {% if instance == 'dev' %}
            <link rel="stylesheet" type="text/css" href="/www/static/css/lib/pure-min.css" />
            <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}module.php/feide/css/lib/selectize.default.css" />
            <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}module.php/feide/css/lib/font-awesome.min.css" />
            <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}module.php/feide/css/src/style.css" />
        {% else %}
            {# Add link to bundled code here and remove placeholders #}
            <link rel="stylesheet" type="text/css" href="/static/css/lib/pure-min.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/lib/selectize.default.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/lib/font-awesome.min.css" />
            <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}module.php/feide/css/src/style.css" />
        {% endif %}

        {# For extra header elements #}
        {% block head %}{% endblock %}
    </head>

    <body>

        {# Main content block #}
        {% block content %}{% endblock %}

        <footer>
            {% block footer %}{% endblock %}
        </footer>

    </body>
</html>
