<!--  -*- mode: web; web-mode-markup-indent-offset: 2 -*-  -->

<!doctype html>
<html lang="{{ currentLanguage }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <title>{{ pagetitle|trans }}</title>

    <link rel="stylesheet" href="/static/bundle.css">

    {# For extra header elements #}
    {% block head %}{% endblock %}
  </head>

  <body id="{{ templateName }}" data-cachebuster="{{ cacheBust }}">

    <div class="layout">

      <div class="topbar">
        {%- include "partials/languages.twig" %}

        <h1 id="page-title">{{ pagetitle|trans }}</h1>
      </div>
      {%- block upper %}{% endblock %}
      {# Main content block #}
      {%- block content %}{% endblock %}

    </div>

    <footer>
      {% block footer %}{% endblock %}
    </footer>

    {%- block prescripts %}{% endblock %}
    <script src="/static/common.bundle.js"></script>
    <script src="/static/main.bundle.js"></script>
    <script src="/static/accountchooser.bundle.js"></script>
    <script src="/static/oauth.bundle.js"></script>
    {%- block scripts %}{% endblock %}

  </body>
</html>
