<!--  -*- mode: web; web-mode-markup-indent-offset: 2 -*-  -->

<!doctype html>
<html lang="{{ currentLanguage }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <title>{{ pagetitle|trans }}</title>

    {% if isDevelopment == 'dev' %}
      <!-- <link rel="stylesheet" type="text/css" href="/static/components/pure/pure.css" /> -->
      <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/components/pure/grids-responsive-old-ie-min.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <!-- <link rel="stylesheet" href="/static/components/pure/grids-responsive-min.css"> -->
      <!--<![endif]-->
      <!-- <link rel="stylesheet" type="text/css" href="/static/components/selectize/dist/css/selectize.default.css" />
      <link rel="stylesheet" type="text/css" href="/static/components/font-awesome/css/font-awesome.css" />
      <link rel="stylesheet" type="text/css" href="/static/css/src/flags.min.css">
      <link rel="stylesheet" type="text/css" href="/static/css/src/style.css" />
-->
      <link rel="stylesheet" type="text/css" href="/static/css/src/base.css" />

      {# prefetch javascript resources -#}
    {% else %}
      <link rel="stylesheet" type="text/css" href="/static/css/build/styles.min.css?cacheId={{ cacheBust }}" />
    {% endif %}

    {# For extra header elements #}
    {% block head %}{% endblock %}
  </head>

  <body id="{{ templateName }}" data-cachebuster="{{ cacheBust }}">

    <div class="layout">

      <div class="topbar">
        {%- include "partials/languages.twig" %}

        <h1 id="page-title">{{ pagetitle|trans }}</h1>
      </div>
      {%- block upper %}{% endblock %}
      {# Main content block #}
      {%- block content %}{% endblock %}


    </div>
    <footer>
      {% block footer %}{% endblock %}

    </footer>
    {%- block prescripts %}{% endblock %}
    {%- if isDevelopment %}
    <script type="application/javascript" src="/static/js/src/config.js"></script>
    <script type="application/javascript" data-main="/static/js/src/main"
            src="/static/components/requirejs/require.js"></script>
    {%- endif %}
    {%- block scripts %}{% endblock %}

  </body>
</html>
