{# -*- mode: web; web-mode-markup-indent-offset: 2 -*- #}
{% extends "base.twig" %}

{% block head %}

  {% if isDevelopment == 'dev' %}
    <link type="text/css" href="/static/css/src/grant.css" rel="stylesheet" />
  {% else %}
    <link href="/static/build/style.min.css?bust={{cacheBust}}" rel="stylesheet" />
  {% endif %}

{% endblock %}


{% block scripts %}
  {% if isDevelopment == 'dev' %}
    <script>
     var visualTag = {{visualTag|raw}};
    </script>
    <!-- <script>require(['oauthgrant/main'])</script> -->
  {% endif %}
{% endblock %}


{% block content %}

  <!-- NOSCRIPT -->
  <noscript>
    <form id="login2" method="post" action="{{posturl}}" style="padding: 3em">
      {% if postdata %}
        <input type="hidden" name="{{key}}" value="{{value}}" />
      {% endif %}
      <p>Turn on javascript to review terms of use.</p>
      <button type="submit" id="actAcceptBrVilk2" class="btn btn-primary">Accept Dataporten terms of use and authorize application</button>
    </form>
  </noscript>

  <div id="mcontent" class="main box">

    <h1>Consent</h1>

    <!-- Media object for user -->
    <div class="media currentUser">
      <div class="media-left" href="#">
        <img class="profileImage" src="{{apibase}}/userinfo/v1/user/media/{{user.p}}" alt="User Profile photo" />
      </div>
      <div class="media-body media-middle">
        <h1 class="media-heading">
          {{user.name}}
        </h1>

        <p class="org">
          {{organization}}
        </p>

      </div><!-- media-body -->
    </div><!-- media -->

    {% if firsttime %}
      {% include 'partials/grant_firsttime.twig' %}
    {% endif %}


    <h2>About the service</h2>

    <!-- Form for giving consent -->
    <form  id="login" method="post" action="{{posturl}}">
      <div class="container mainContainer" >

        <div>
          <div>
            <div id="servicecontent">
              {% include 'partials/grant_service.twig' %}

              <h4>{{_.requestsperms}}</h4>
              <div class="list-group simpleSkip" id="grantpermissionlist">
                {% include 'partials/grant_perms.twig' %}
                {# INCLUDE {{> grant.perms}} #}
                {# INCLUDE {{> grant.perms-apis}} #}
              </div><!-- End of list-group -->

              <div class="dialog notification">
                {% if permsLongTerm %}
                  <p class="dialog_text">{{_.permlong|raw}}</p>
                {% else %}
                  <p class="dialog_text">{{_.permshort|raw}}</p>
                {% endif %}
              </div>

              <div class="center-block simpleSkip" >
                <p>{{_.doyouaccept}}</p>
              </div>

              {% if postdata %}
                <input type="hidden" name="{{key}}" value="{{value}}" />
              {% endif %}

              {# Buttons for accept/decline #}
              <div class="simpleSkip">
                <button type="submit"
                        id="submit"
                        tabindex="1"
                        class="pure-button pure-button-primary reqAccept">
                  {{_.yes}}
                </button>
                <a tabindex="2" class="pure-button" href="/reject">
                  {{_.no}}
                </a>
              </div>

              <div class="center-block simpleOnly" style="display: none" >

                <fieldset id="actions" style=" text-align: right ">

                  <a tabindex="2" class="btn btn-default tglSimple" href="#">
                    {{_.showmore}}
                  </a>

                  <button type="submit" id="submit" tabindex="1" class="btn btn-success reqAccept">
                    {{_.okcontinue}}
                  </button>

                </fieldset>
              </div>

            </div>

          </div><!-- column -->
        </div><!-- row -->
      </div><!-- container -->

      <div class="container" style="display: none">
        <p style="text-align: right; font-size: 80%; margin-bottom: 0px; padding-bottom: 0px">
          <a target="_blank" href="http://docs.dataporten.no/docs/endusers/">
            {{_.readmoreconnect}}
            <i class="fa fa-chevron-left"></i>
          </a>
        </p>
        <p style="text-align: right; font-size: 80%; margin-top: 0px; padding-top: 0px">
          <a target="_blank" href="https://auth.dataporten.no/tou/generic">
            {{_.connectpersonvern}}
            <i class="fa fa-chevron-left"></i>
          </a>
        </p>
      </div>

    </form>

    <!-- Modal for privacy policy -->
    {# {% include 'partials/grant_modal.twig' %} #}

  </div>

{% endblock %}
