{# -*- mode: web; web-mode-markup-indent-offset: 2 -*- #}
{% extends "base.twig" %}

{% block head %}

  {% if isDevelopment == 'dev' %}
    <link rel="stylesheet" href="/static/css/src/grant.css" />
    <link rel="stylesheet" href="/static/components/vex/dist/css/vex.css" />
    <link rel="stylesheet" href="/static/components/vex/dist/css/vex-theme-os.css" />
  {% else %}
    <link href="/static/build/style.min.css?bust={{cacheBust}}" rel="stylesheet" />
  {% endif %}

{% endblock %}


{% block scripts %}
  {% if isDevelopment == 'dev' %}
    <script>
     var visualTag = {{visualTag|raw}};
    </script>
    <!-- <script>require(['oauthgrant/main'])</script> -->
  {% endif %}
{% endblock %}


{% block content %}

  <!-- NOSCRIPT -->
  <noscript>
    <form id="login2" method="post" action="{{posturl}}" style="padding: 3em">
      {% if postdata %}
        <input type="hidden" name="{{key}}" value="{{value}}" />
      {% endif %}
      <p>Turn on javascript to review terms of use.</p>
      <button type="submit" id="actAcceptBrVilk2" class="btn btn-primary">Accept Dataporten terms of use and authorize application</button>
    </form>
  </noscript>

  <div id="mcontent" class="main box">

    <h1>Consent</h1>

    <!-- Media object for user -->
    <div class="media currentUser">
      <div class="media-left" href="#">
        <img class="profileImage" src="{{apibase}}/userinfo/v1/user/media/{{user.p}}" alt="User Profile photo" />
      </div>
      <div class="media-body media-middle">
        <h1 class="media-heading">
          {{user.name}}
        </h1>

        <p class="org">
          {{organization}}
        </p>

      </div><!-- media-body -->
    </div><!-- media -->

    {% set firsttime=false %}
    {% if firsttime %}
      <div id="container-user-terms">
        {% include 'partials/grant_firsttime.twig' %}
      </div>
    {% endif %}


    <div id="container-service-consent" {% if firsttime %}class="hide"{% endif %}>
      <h2>About the service</h2>

      {# Form for giving consent #}
      <form id="login" method="post" action="{{posturl}}">

        {# bruksvilkar is always accepted if we are showing this form #}
        <input type="hidden" name="bruksvilkar" value="yes"></input>

        {# display information about the service #}
        <div id="container-service-info">
          {% include 'partials/grant_service.twig' %}

          <div id="container-service-permissions">
            <h4>{{_.requestsperms}}</h4>
            <div class="list-group" id="grantpermissionlist">
              {% include 'partials/grant_perms.twig' %}
            </div><!-- End of list-group -->
          </div>
        </div>


        {# display how long the access will be granted #}
        <h4>Access duration</h4>
        <div id="container-grant-duration" class="dialog notification">
          {% if permsLongTerm %}
            <p class="dialog_text">{{_.permlong|raw}}</p>
          {% else %}
            <p class="dialog_text">{{_.permshort|raw}}</p>
          {% endif %}
        </div>


        {# part where the user gives consent #}
        <div id="container-consent-action">
          <p>{{_.doyouaccept}}</p>

          {% if postdata %}
            <input type="hidden" name="{{key}}" value="{{value}}" />
          {% endif %}

          {# Buttons for accept/decline #}
          <button type="submit" id="submit" class="pure-button pure-button-primary reqAccept">
            {{_.yes}}
          </button>
          <a class="pure-button" href="/reject">
            {{_.no}}
          </a>
        </div>

      </form>

    </div>

    {# privacy policy - content used in dialog #}
    <div id="privacy-policy" class="hide" aria-hidden="true">
      {% include 'partials/grant_bruksvilkar.twig' %}
    </div>


    {# Helpful links and stuff - not displayed yet #}
    <div class="container" style="display: none">
      <p style="text-align: right; font-size: 80%; margin-bottom: 0px; padding-bottom: 0px">
        <a target="_blank" href="http://docs.dataporten.no/docs/endusers/">
          {{_.readmoreconnect}}
          <i class="fa fa-chevron-left"></i>
        </a>
      </p>
      <p style="text-align: right; font-size: 80%; margin-top: 0px; padding-top: 0px">
        <a target="_blank" href="https://auth.dataporten.no/tou/generic">
          {{_.connectpersonvern}}
          <i class="fa fa-chevron-left"></i>
        </a>
      </p>
    </div>


  </div>

{% endblock %}
